body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1A4560;
    text-align: center;
    color: #fff;
    font-family: Helvetica;
    font-size: 28px;
}

h1 {
    width: 100%;
    margin: 0;
}

#content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: normal;
}

p {
    font-size: 20px;
    line-height: 35px;
    font-family: sans-serif;
}

.social-link {
    display: block;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 1px 3px 0 black;
}

.social-link:hover {
    box-shadow: 0 1px 8px 0 black;
}

#youtube-link {
    background-color: #c9401f;
}

#facebook-link {
    display: none;
    background-color: #316d80;
}

#facebook-link img {
    width: auto;
    max-height: 90px;
}

#site-logo {
    max-width: 640px;
}

.fullsize-logo {
    width: 100%;
    max-width: 400px;
}

#col-right {
    display: none;
}

@media screen and (min-width: 670px) {
    p {
        position: static;
        width: auto;
        height: auto;
    }
    
    #col-left, #col-right {
        max-width: 50%;
    }
    
    #col-left {
        margin-right: 10px;
    }
    
    #col-right {
        display: block;
        margin-left: 10px;
    }
    
    #col-right, #welcome-video {
        width: 100%;
        max-width: 440px;
    }
    
    #footer {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .social-link {
        margin: 0 20px;
    }
    
    #facebook-link {
        display: block;
    }
    
    #youtube-link {
        width: auto;
    }
}

@media screen and (max-device-height: 612px) and (orientation: landscape) {
    h1 {
        max-width: 50%;
        align-self: flex-start;
    }
    
    h2 {
        display: none;
    }
    
    #footer {
        width: 50%;
        right: 0;
        justify-content: center;
        position: absolute;
    }
    
    #welcome-video {
        max-width: 320px;
    }
    
    #facebook-link {
        display: none;
    }
    
    #youtube-link {
        width: 40%
    }
}
